input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  textarea {
    height: 12rem;
  }
  
  button[type=submit] {
    background-color: #1e40af;
    color: #dbeafe;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.5rem;
  }
  
  button[type=submit]:hover {
    background-color: #1d4ed8;
  }
  